html,
body,
#render-container,
#render-provider,
.render-container,
.render-provider {
  height: 100%;
}


.reports-form-row
{
  display: flex;
  flex-direction: row;
  margin-top:20px;
  width:100%;

}

.report-summary-row
{
  display:flex;
  flex-direction: row;
  margin:2%;
  padding:2%;
}

.report-summary-label
{
  font-weight: bold;
  width:25%;
}
.report-summary-content
{
  width:25%;


}

.data-cell
{
  font-size:12px;
  width: 98%;
  padding:1%;
  word-wrap: break-word;
}

.numeric-cell
{
  text-align: right;
}

.details-comments
{
  font-size:10px;
  width: 98%;
  word-wrap: break-word
}