html,
body,
#render-container,
#render-provider,
.render-container,
.render-provider {
  height: 100%;
}


.reports-form-row
{
  display: flex;
  flex-direction: row;
  margin-top:20px;
  width:100%;

}